<mjml>
    <body style="background-color: rgba(19, 40, 106, .8); background-size:auto; vertical-align: top">

    <mj-section>
        <h1 style="text-align: center; color: #FFFFFF">Bonjour PC CLIM,</h1>
        <h2 style="line-height: 30px; margin: 10px 0; text-align: center; color:#FFFFFF; font-family:Roboto,sans-serif;">
            <p style="text-decoration: underline">{{ contact.firstName }} {{ contact.lastname }}</p>
            à une question à vous poser
        </h2>
    </mj-section>

    {# Message information #}
    <mj-section>
        <mj-section background-color="#ffffff" background-repeat="repeat" padding-bottom="0px" padding="20px 0"
                    text-align="center" vertical-align="top">
            <mj-column>
                <mj-section background-color="#ffffff" background-repeat="repeat" padding-bottom="0px"
                            padding-top="0px" padding="20px 0" text-align="center" vertical-align="top">
                    <mj-column>
                        <mj-section margin-top="50px" margin-bottom="50px">

                            <p style="color: #FFFFFF">Message :</p>
                            <p style="font-size: 20px; color: #FFFFFF">{{ contact.message | nl2br }}</p>

                            <table>
                                <tr>
                                    <td style="text-align: left; color: #FFFFFF">Téléphone :</td>
                                    <td style="text-align: right">
                                        <a style="color: #FFFFFF" href="tel:+33 {{ contact.phoneNumber }}">
                                            0{{ contact.phoneNumber }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; color: #FFFFFF">Email :</td>
                                    <td style="text-align: right">
                                        <a style="color: #FFFFFF" href="mailto:{{ contact.email }}">
                                            {{ contact.email }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </mj-section>

                    </mj-column>
                </mj-section>
            </mj-column>
        </mj-section>
    </mj-section>
    </body>
</mjml>
