{% extends 'base.html.twig' %}

{% block body %}

    <!--BANNER-->
    <section id="banner">
        <div class="banner-text">
            <h1>PC CLIM</h1>
            <p>Au service de votre confort</p>
            <div class="banner-btn">
                <a href="#form"><span></span>Nous Contacter</a>
            </div>
        </div>
    </section>

    <!--FEATURES-->
    <section id="feature">
        <div class="title-text">
            <h1 class="choice-title">Choisir PC CLIM</h1>
        </div>
        <div class="feature-box">
            <div class="features">
                <h1>Bénéficier d'un savoir faire unique</h1>
                <div class="features-desc">
                    <div class="feature-icon">
                        <i class="fas fa-leaf fa-2x fa-border" style="color: #2D9687"></i>
                    </div>
                    <div class="feature-text">
                        <p>PC Clim se spécialise dans les énergies renouvelable depuis 2008.</p>
                    </div>
                </div>
                <h1>Avoir un suivi sur le matériel</h1>
                <div class="features-desc">
                    <div class="feature-icon">
                        <i class="fas fa-medal fa-2x fa-border" style="color: #2D9687"></i>
                    </div>
                    <div class="feature-text">
                        <p>PC Clim à choisit pour vous le meilleur matériel sur le marché.</p>
                    </div>
                </div>
                <h1>Avoir des conseils personnalisés</h1>
                <div class="features-desc">
                    <div class="feature-icon">
                        <i class="fas fa-people-arrows fa-2x fa-border" style="color: #2D9687"></i>
                    </div>
                    <div class="feature-text">
                        <p>PC Clim vous offre des conseils personnalisés en fonction de vos besoins
                            et de vos habitudes.</p>
                    </div>
                </div>
                <h1>Des Tarifs avantageux</h1>
                <div class="features-desc">
                    <div class="feature-icon">
                        <i class="fas fa-credit-card fa-2x fa-border" style="color: #2D9687"></i>
                    </div>
                    <div class="feature-text">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Voir les Tarifs
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tarifs de Mise en service</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="price-table border-1">
                                            <tr>
                                                <th>Type D'appareil</th>
                                                <th>Tarifs en Euro*</th>
                                            </tr>
                                            <tr>
                                                <td>Mono-Split</td>
                                                <td class="price">255€</td>
                                            </tr>
                                            <tr>
                                                <td>Bi-Split</td>
                                                <td class="price">355€</td>
                                            </tr>
                                            <tr>
                                                <td>Tri-Split</td>
                                                <td class="price">435€</td>
                                            </tr>
                                            <tr>
                                                <td>Quadri-Split</td>
                                                <td class="price">515€</td>
                                            </tr>
                                            <tr>
                                                <td>Plafonniers et Cassettes</td>
                                                <td class="price">295€</td>
                                            </tr>
                                            <tr>
                                                <td>Gainable sans Zone Control</td>
                                                <td class="price">280€</td>
                                            </tr>
                                            <tr>
                                                <td>Gainable avec Zone Control</td>
                                                <td class="price">480€</td>
                                            </tr>
                                            <tr>
                                                <td>PAC R/O</td>
                                                <td class="price">355€</td>
                                            </tr>
                                            <tr>
                                                <td>Chauffe-eau Thermodynamique</td>
                                                <td class="price">250€</td>
                                            </tr>
                                            <tr>
                                                <td>Plus-value raccordement Électrique</td>
                                                <td class="price">50€</td>
                                            </tr>
                                            <tr>
                                                <td>Charge de gaz additionnel</td>
                                                <td class="price">82€/kg</td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="modal-footer">
                                        <p class="text-center">Pour tout autre situation, nous consulter afin d'établir
                                            un devis personnalisé.</p>
                                        <small class="text-center mt-3">*Tarifs Hors Taxes</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features-img">
                <img src="https://via.placeholder.com/582x782" alt="pc_clim_action">
            </div>
        </div>
    </section>

    <!--SERVICE-->
    <section id="service">
        <div class="title-text">
            <h1 class="service-title">Nous proposons le meilleur</h1>
        </div>
        <div class="service-box">
            <div class="single-service">
                <img src="https://via.placeholder.com/582x388" alt="">
                <div class="overlay">
                    <div class="service-btn">
                        <a href="https://www.atlantic.fr/aide/climatisation/fonctionnement/l-installation-de-ma-pac-air-air-necessite-t-elle-de-gros-travaux/"
                           target="_blank"><span></span>En savoir plus</a>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>Installation</h3>
                    <hr>
                    <p>PC Clim vous accompagne pour la pose de pompe à chaleur.</p>
                </div>
            </div>
            <div class="single-service">
                <img src="https://via.placeholder.com/582x388">
                <div class="overlay">
                    <div class="service-btn">
                        <a href="https://www.atlantic.fr/aide/climatisation/fonctionnement/quel-entretien-pour-ma-climatisation/"
                           target="_blank"><span></span>En savoir plus</a>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>Entretien</h3>
                    <hr>
                    <p>PC Clim entretien vos installations.</p>
                </div>
            </div>
            <div class="single-service">
                <img src="https://via.placeholder.com/582x388" alt="">
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>Dépannage</h3>
                    <hr>
                    <p>En cas d'incident PC Clim dépanne votre matériel 7j/7.</p>
                </div>
            </div>
            <div class="single-service">
                <img src="https://via.placeholder.com/582x388" alt="">
                <div class="overlay">
                    <div class="service-btn">
                        <a href="https://www.atlantic.fr/Chauffer-l-eau/Chauffe-eau/Guide-chauffe-eau/Qu-est-ce-qu-un-chauffe-eau-thermodynamique"
                           target="_blank"><span></span>En savoir plus</a>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>Chauffe-Eau Thermodynamique</h3>
                    <hr>
                    <p>PC Clim vous propose également des chauffe-eau
                        écologique.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL -->
    <section id="testimonial">
        <div class="title-text">
            <h1>Nos Clients</h1>
        </div>
        <div class="testimonial-row">
            <div class="testimonial-col">
                <div class="user">
                    <img src="https://i.ibb.co/TTrbxLb/users.jpg" alt="testimonial">
                    <div class="user-info">
                        <h4>phillipe p</h4>
                        <small>Avis Google</small>
                        <small>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                        </small>
                    </div>
                </div>
                <p>Suite à un problème de PAC j'ai fait appel à cette entreprise qui a été très réactive dans
                    l'intervention et la résolution du problème.</p>
            </div>
            <div class="testimonial-col">
                <div class="user">
                    <img src="https://i.ibb.co/TTrbxLb/users.jpg" alt="testimonial">
                    <div class="user-info">
                        <h4>coco</h4>
                        <small>Avis Google</small>
                        <small>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                        </small>
                    </div>
                </div>
                <p>Travail soigné, très bonnes connaissances de son métier, je recommande les yeux fermés !</p>
            </div>
            <div class="testimonial-col">
                <div class="user">
                    <img src="https://i.ibb.co/TTrbxLb/users.jpg" alt="">
                    <div class="user-info">
                        <h4>Jean-Pascal Thenevot</h4>
                        <small>Avis Pages Jaunes</small>
                        <small>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                            <i class="rate fas fa-star"></i>
                        </small>
                    </div>
                </div>
                <p>Personnes compétentes et sympathiques , chantier tres propre : de bons professionnels.</p>
            </div>
        </div>
    </section>

    <!-- CAROUSEL -->
    <section id="carousel">
        <div class="title-text-carousel">
            <h1>Nos marques partenaires</h1>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('./images/carousel-pc_clim/mitsubishi_electric.png') }}" class="d-block"
                             alt="mitsubishi-electric">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('./images/carousel-pc_clim/hitachi.png') }}" class="d-block" alt="hitachi">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('./images/carousel-pc_clim/toshiba.png') }}" class="d-block" alt="toshiba">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('./images/carousel-pc_clim/daikin.png') }}" class="d-block" alt="daikin">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('./images/carousel-pc_clim/fuj-atl.png') }}" class="d-block"
                             alt="fujistu-atlantic">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('./images/carousel-pc_clim/carrier.png') }}" class="d-block" alt="carrier">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span>
                    <i class="fas fa-arrow-left fa-3x"></i>
                </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span>
                    <i class="fas fa-arrow-right fa-3x"></i>
                </span>
            </button>
        </div>
    </section>

    <!-- FORM -->
    <section id="form">
        <div class="title-text-contact">
            <h1>Contactez-nous</h1>
        </div>

        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-circle">
                        Votre formulaire contient des erreurs. Veuillez corriger.
                    </i>
                </div>
            {% endif %}

            <div id="contactForm" class="contact">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">{{ form_row(form.firstName) }}</div>
                    <div class="col">{{ form_row(form.lastName) }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.email) }}</div>
                    <div class="col">{{ form_row(form.phoneNumber) }}</div>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12">{{ form_row(form.message) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 mt-3 d-flex align-items-center justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Envoyer votre message">
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
