// Choose a font
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

// Color
$first_color      : rgba(19, 40, 106, .8);
$second_color     : rgba(183, 60, 5, .5);
$light            : #ffffff;
$dark             : #000000;

// Font Var
$text             : 'Libre Baskerville', 'serif';
$title            : 'Roboto Slab', 'serif';
$quote            : 'Caveat', 'cursive';

// Size
$size-text        : calc(16px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$size-title       : calc(3 * var($size-text));
$size-quote       : 18px;
$size-footer-text : 10px;
$size-navbar-text : 22px;

// Padding Size
$padding          : 5px;

// Margin Size
$margin           : 5px;

// Other
$radius           : 5px;
$stars            : gold;
