﻿@import "vars";
@import "banner";
@import "features";
@import "services";
@import "testimonial";
@import "form";
@import "carousel";
@import "footer";

* {
  margin          : 0;
  padding         : 0;
  font-family     : $text;
  scroll-behavior : smooth;
}

.title-text {
  text-align     : center;
  padding-bottom : 70px;
  padding-top    : 16px;

}

.title-text p {
  margin      : auto;
  font-size   : 20px;
  color       : #009688;
  font-weight : bold;
  position    : relative;
  z-index     : 1;
  display     : inline-block;
}

.title-text h1 {
  font-size : 50px;
}
