@import "vars";

#banner {
  background-size : cover;
  background      : linear-gradient($first_color, rgba(0, 0, 0, 0.1)) center;
  height          : 100vh;
}

.choice-title {
  color: $first_color;
}

.banner-text {
  text-align  : center;
  color       : #fff;
  padding-top : 180px;
}

.banner-text h1 {
  font-size   : 190px;
  font-family : $title;
  color: $light;
}

.banner-text p {
  font-size  : 20px;
  font-style : italic;
}

.banner-btn {
  margin : 70px auto 0;
}

.banner-btn a {
  width           : 150px;
  text-decoration : none;
  display         : inline-block;
  margin          : 0 10px;
  padding         : 12px 0;
  color           : #fff;
  border          : .5px solid #fff;
  position        : relative;
  z-index         : 1;
  transition      : color 0.5s;
  border-radius   : 5px;
}

.banner-btn a span {
  width      : 0;
  height     : 100%;
  position   : absolute;
  top        : 0;
  left       : 0;
  background : #fff;
  z-index    : -1;
  transition : 0.5s;
}

.banner-btn a:hover span {
  width : 100%;
}

.banner-btn a:hover {
  color : #000;
}

@media screen and (max-width : 770px) {
  .banner-text h1 {
    font-size : 44px;
  }
  .banner-btn a {
    display : block;
    margin  : 20px auto;
  }
}


