@import "vars";

/*--CAROUSEL--*/
img {
  width  : 10%;
  height : auto;
}

span i {
  color : $dark;
}

.title-text-carousel {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (max-width : 900px) {
  img {
    width : 50%;
  }

  span {
    display : none;
  }
}
