@import "vars";

/*--FEATURE--*/
#feature {
  width   : 100%;
  height : 100%;
  padding : 70px 0;
}

.feature-box {
  width       : 80%;
  margin      : auto;
  display     : flex;
  flex-wrap   : wrap;
  align-items : center;
  text-align  : center;
}

.features {
  flex-basis : 50%;
}

.features-img {
  flex-basis : 50%;
  margin     : auto;
}

.features-img img {
  width         : 70%;
  border-radius : 10px;
}

.features h1 {
  text-align    : left;
  margin-bottom : 10px;
  font-weight   : 100;
  color         : #009688;
}

.features-desc {
  display       : flex;
  align-items   : center;
  margin-bottom : 40px;
}

.fa-border {
  border: 1px solid black;
  border-radius: 8px;
}

.fas .fa-medal:before {
  color: gold;
}

.fa-border-icon {
  width         : 50px;
  height        : 50px;
  font-size     : 30px;
  line-height   : 50px;
  border-radius : 8px;
  color         : $first_color;
  border        : 1px solid $dark;
}

.feature-text p {
  padding    : 0 20px;
  text-align : initial;
  //Enlever si la description est trop longue
  margin     : 0;
}

@media screen and (max-width : 770px) {
  .title-text h1 {
    font-size : 35px;
  }
  .features {
    flex-basis : 100%;
  }
  .features-img {
    flex-basis : 100%;
  }
  .features-img img {
    width : 100%;
  }
  .features h1 {
    text-align: center;
  }

  .features-desc {
    justify-content: center;
  }
}
