@import "vars";

/*--FOOTER--*/
#footer {
  padding    : 0 0 20px;
  background : #efefef;
  position   : relative;
}

.title-text-footer {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-row {
  width           : 80%;
  margin          : 0 auto;
  display         : flex;
  justify-content : space-between;
  flex-wrap       : wrap;
}

.footer-left, .footer-right {
  flex-basis    : 45%;
  padding       : 10px;
  margin-bottom : 20px;
}

.footer-right {
  text-align : right;
}

.footer-row h1 {
  margin : 10px 0;
}

.footer-row p {
  line-height : 35px;
}

.footer-left .fa, .footer-right .fa {
  font-size : 20px;
  color     : #009688;
  margin    : 10px;
}

.footer-img {
  max-width : 250px;
  opacity   : 0.1;
  position  : absolute;
  left      : 50%;
  top       : 35%;
  transform : translate(-50%, -50%);
}

.social-links {
  text-align : center;
}


.social-links p {
  font-size  : 12px;
  margin-top : 20px;
}

@media screen and (max-width : 770px) {
  .footer-left, .footer-right {
    flex-basis : 100%;
    font-size  : 14px;
  }
  .footer-img {
    top : 25%;
  }
}
