@import "vars";

/*--FORM--*/
#form {
  width      : 100%;
  padding    : 70px 0;
  background : linear-gradient($first_color, rgba(0, 0, 0, 0.1));
}

* {
  box-sizing : border-box;
}

.title-text-contact {
  text-align: center;
  padding-bottom: 0;
  padding-top: 16px;
}

.container {
  max-width    : 1170px;
  margin-left  : auto;
  margin-right : auto;
  padding      : 50px;
}

ul {
  list-style : none;
  padding    : 0;
}

.brand {
  text-align : center;
}

.brand span {
  color : white;
}

.wrapper {
  box-shadow : 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding : 1em;
}

.company-info {
  background : #c9e6ff;
}

.company-info h3,
.company-info ul {
  text-align : center;
  margin     : 0 0 1rem 0;
}

.contact form {
  display               : grid;
  grid-gap              : 20px;
}

.contact form label {
  display : block;
}

.contact form p {
  margin : 0;
}

.contact form {
  grid-column : 1 / 3;
}

.contact form .full {
  grid-column: 1 / 3;
}

.button {
  width : 200px;
}

.contact form button,
.contact form input,
.contact form textarea {
  width         : 100%;
  padding       : 1em;
  border        : 1px solid #c9e6ff;
  border-radius : $radius;
}

.contact form button {
  display: flex;
  align-items: center;
  justify-content: center;
  background     : $first_color;
  border         : 0;
  text-transform : uppercase;
  color          : $light;
}

.contact form button:hover,
.contact form button:focus {
  background : $light;
  color      : $dark;
  outline    : 0;
  transition : background-color 1s ease-out;
}

@media (min-width : 700px) {
  .wrapper {
    display               : grid;
    grid-template-columns : 1fr 2fr;
  }

  .wrapper > * {
    padding : 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align : left;
  }
}
