@import "vars";

.price {
  margin-left: 50px;
}

.btn-close {
  background-color : $light;

  &.btn-close:hover {
    background-color : $second-color;
  }
}

.modal-header {
  background-color : $first_color;
  color            : $light;
}

.modal-body {
  display         : flex;
  align-items     : center;
  justify-content : center;
}

tr td {
  border  : 1px solid black;
  padding : 12px;

  &td {
    text-align: left;
    display : flex;
  }

  &th {
    padding : 10px 10px 10px 10px;
  }
}

.price {
  text-align       : right;
  background-color : $table;
}

.modal-f ooter {
  background-color : $first_color;
  color            : $light;
}
