@import "vars";

/*--SERVICE--*/
#service {
  width       : 100%;
  padding     : 70px 0;
  background  : linear-gradient($first_color, rgba(0, 0, 0, 0.1));
  font-family : $text;
}

.service-btn {
  margin : 70px auto 0;
}

.service-btn a {
  width           : 150px;
  text-decoration : none;
  display         : inline-block;
  margin          : 0 10px;
  padding         : 12px 0;
  color           : #fff;
  border          : .5px solid #fff;
  position        : relative;
  z-index         : 1;
  transition      : color 0.5s;
  border-radius   : 5px;
}

.service-btn a span {
  width      : 0;
  height     : 100%;
  position   : absolute;
  top        : 0;
  left       : 0;
  background : #fff;
  z-index    : -1;
  transition : 0.5s;
}

.service-btn a:hover span {
  width : 100%;
}

.service-btn a:hover {
  color : #000;
}
.service-title {
  color: $light;
}

.service-box {
  width           : 80%;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-around;
  margin          : auto;
}


.single-service {
  flex-basis    : 48%;
  text-align    : center;
  border-radius : 7px;
  margin-bottom : 20px;
  color         : #fff;
  position      : relative;
}

.single-service img {
  width         : 100%;
  border-radius : 7px;
}

.overlay {
  width         : 100%;
  height        : 100%;
  position      : absolute;
  top           : 0;
  border-radius : 7px;
  cursor        : pointer;
  background    : linear-gradient($first_color, rgba(0, 0, 0, 0.5));
  opacity       : 0;
  transition    : 1s;
}

.single-service:hover .overlay {
  opacity : 1;
}

.service-desc {
  width      : 80%;
  position   : absolute;
  bottom     : 40%;
  left       : 50%;
  opacity    : 0;
  transform  : translateX(-50%);
  transition : 1s;
}

hr {
  background : #fff;
  height     : 2px;
  border     : 0;
  margin     : 15px auto;
  width      : 60%;
}

.service-desc p {
  font-size : 14px;
}

.single-service:hover .service-desc {
  bottom  : 40%;
  opacity : 1;
}

@media screen and (max-width : 770px) {
  .single-service {
    flex-basis    : 100%;
    margin-bottom : 30px;
  }
  .service-desc p {
    font-size : 12px;
  }
  hr {
    margin : 5px auto;
  }
  .single-service:hover .service-desc {
    bottom : 25% !important;
  }

  .service-btn {
    display : none;
  }
}
