@import "vars";

/*---TESTIMONIAL---*/
#testimonial {
  width   : 100%;
  padding : 70px 0;
}

.testimonial-row {
  width           : 80%;
  margin          : auto;
  display         : flex;
  justify-content : space-between;
  align-items     : flex-start;
  flex-wrap       : wrap;
}

.testimonial-col {
  flex-basis    : 28%;
  padding       : 10px;
  margin-bottom : 30px;
  border-radius : 5px;
  box-shadow    : 0 10px 20px 3px #00968814;
  cursor        : pointer;
  transition    : transform .5s;
}

.testimonial-col p {
  font-size   : 24px;
  font-family : $quote;
}

.user {
  display     : flex;
  align-items : center;
  margin      : 20px 0;
}

.user img {
  width         : 40px;
  margin-right  : 20px;
  border-radius : 3px;
}

.user-info .fa {
  margin-left : 10px;
  color       : #27c0ff;
  font-size   : 20px;
}

.user-info small {
  color : #009688;
}

.testimonial-col:hover {
  transform : translateY(-7px);
}

.rate {
  color: $stars;
}

@media screen and (max-width : 770px) {
  .testimonial-col {
    flex-basis : 100%;
  }
}
