<!---FOOTER-->
<section id="footer">
    <img src="https://www.kindpng.com/picc/m/111-1110978_house-icon-flat-home-png-icon-transparent-png.png"
         class="footer-img" alt="home">
    <div class="title-text-footer">
        <h3>Nous vous accueillons</h3>
    </div>
    <div class="footer-row">
        <div class="footer-left">
            <h3>Horaires d'ouverture</h3>
            <p><i class="fa fa-clock-o"></i>Lundi au Vendredi de 9h à 19h</p>
{#            <h3>Contacter le secrétariat</h3>#}
{#            <p><i class="fa fa-volume-control-phone"></i>#}
{#                Appeler le <a href="tel:+330546061930">05.46.06.19.30</a></p>#}
        </div>
        <div class="footer-right">
            <h3>Le Secrétariat</h3>
            <p>40 Avenue Joseph Béteille<i class="fa fa-map-marker"></i></p>
            <p>17110 St Georges De Didonne<i class="fa fa-map"></i></p>
            <p>pc-clim@hotmail.fr<i class="fa fa-paper-plane"></i></p>
            <p>+33 0546061930<i class="fa fa-volume-control-phone"></i></p>
        </div>
    </div>

    <div class="social-links">
        <p>Réalisé par <a href="https://gitlab.com/damizkrli">Carli Damien</a> - &copy; 2021</p>
    </div>

</section>
